html {
	scroll-behavior: smooth;
	-ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: y proximity;
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	overflow-x: hidden;
  	overscroll-behavior-y: none;
    scroll-snap-type: y proximity;
    color: white;
    font-family: arial narrow;
}

p {
	margin: 0;
	padding: 0px;
	overflow-x: hidden;
	scroll-snap-stop: always;
}

a {
	text-decoration: none;
	color: white;
}

br {
	line-height: 500px;
}

h1 {
	color: white;
	font-style: none;
	font-size:24px;
	font-weight: normal;
}

h2 {
	position: fixed;
	left: 60%;
	top: -800px;
	color: white;
	margin: 0px;
	padding: 0px;
	text-align: right;
	font-style: none;
	font-family:times new roman;
	font-size: 1000px;
	text-decoration: none;
	z-index: 2;
}

span {
	position: absolute;
	left: 400px;
	top: -50px;
}

header {
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: white;
	text-align: left;
	height: 60px;
	padding-left: 25px;
	background-color: black;
	scroll-snap-stop: always;
	z-index: 1;
}


header a h2 {display:none;}
header a:hover h2 {display:block;}

footer {
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: white;
	text-align: left;
	height: 60px;
	padding-left: 25px;
	background-color: black;
	scroll-snap-stop: always;
}

footer a h2 {display:none;}
footer a:hover h2 {display:block;}


.home {
	background-color: black;
	height: 100%;
}

.index {
	padding-top: 140px;
	padding-left: 25px;
	background-color: black;
	font-size: 75px;
	height: 100%;
	z-index: 0;
}

.index a {text-decoration:none;}
.index a { position:relative; }
.index a span { position:absolute; display:none; z-index:99; }
.index a:hover span { display:block; }

.info {
	padding-top: 200px;
	padding-left: 25px;
	padding-right: 25px;
	height: 100%;
	background-color: lime;
	font-size: 20px;
	text-align: justify;
	text-decoration: none;
}

.info br {line-height:20px;}

.homeheader {
	position: sticky;
	top: 0px;
	background-color: black;
}

.homeheader a h2 {display:none;}
.homeheader a:hover h2 {display:block;}

.indexheader {
	position: sticky;
	top: 59px;
	bottom: 59px;
	background-color: black;
	z-index: 1;
}

.indexheader a { position:relative; }
.indexheader a h2 { position:absolute; display:none; z-index:99; }
.indexheader a:hover h2 {display:block;}

.infoheader {
	position: sticky;
	top: 119px;
	bottom: 0px;
	background-color: black;
	z-index: 1;
}

.infoheader a { position:relative; }
.infoheader a h2 { position:absolute; display:none; z-index:99; }
.infoheader a:hover h2 {display:block;}
