@font-face{
	src: url(assets/eurostile.otf);
	font-family: Eurostile;
}

@font-face{
	src: url(assets/baikal/BaikalTrial-ExpandedBlack.otf);
	font-family: baikalbold;
}

@font-face{
	src: url(assets/baikal/BaikalTrial-Regular.otf);
	font-family: baikalreg;
}

.title {
	font-size: 100px;
	line-height: 120px;
	font-family: baikalbold;
	text-align: center;
	color: white;
}

.description {
	font-size: 12px;
	line-height: 20px;
	font-family: baikalreg;
	color: black;
	display: table;
    margin: 0px auto 0px auto;
    padding: 20px;
    background-color: white;
    text-align: left;
    border: solid;
    border-width: 1px;
    text-align: justify;
    -moz-text-align-last: justify;
}

.caption {
	font-size: 12px;
	line-height: 20px;
	font-family: baikalreg;
	color: black;
}
